<header>
    <nav>
        <a class="menu__burgerButton" href="#"><%- include('svg/burgerMenu'); %></a>
        <ul>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ul>
    </nav>
</header>