<header id="menu">
    <nav class="menu">
        <ul class="menu__container">
            <li class="menu__item"><a href="./#">Sobre</a></li>
            <li class="menu__item"><a href="./#">Contacto</a></li>
            <li class="btnCerrarMenu menu__item "><a id="btnMenuCerrar" href="#">Cerrar</a></li>
        </ul>
    </nav>
</header>
<li class="botonMenu" id="btnMenu">
    <img class="iconoMenu" src="../imgs/menu_list.png" alt="Icono menu" srcset="">
</li>