*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --blanco:#fff;
    --grisClaro:#EEF0F2;
    --negro:#000;
    --azul:#1D51D7;
    --amarillo:#FFE400;
    --naranja:#FF6B35;
    --negroClaro:#000500;
    --celeste:#00A5E0;
    --rojo:#D72638;
}
.index__mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    height: 70vh;
}
.imgLogoNode{
    width: 450px;
    padding-bottom: 30px;
}
body{
    color: var(--blanco);
    /*background-color: var(--negro);*/
}
.btnLink{
    text-decoration: none;
    background-color: var(--blanco);
    border-radius: 10px;
    padding:7px 12px ;
    margin-top: 20px;
    color: var(--negro);
}
.btnLink:hover{
    -webkit-box-shadow: inset 5px 5px 15px 5px rgba(0,0,0,0.22); 
    box-shadow: inset 5px 5px 15px 5px rgba(0,0,0,0.22);
}
@media screen and (max-width:800px){
    
}