<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Node App</title>
    <link rel="stylesheet" href="../css/styles.css">
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    <main class="index__mainContainer">
        <img class="imgLogoNode" src="../imgs/NodeJS.png" alt="Logo NodeJS">
        <h1>Create Node App</h1>
        <a class="btnLink" href="./error">Ir a otra página</a>
    </main>
    <%- include('../partials/footer'); %>
    <script src="../js/index.js"></script>
</body>
</html>